In [3]:
import googletrans
#from googletrans import Translator
#from google_trans_new import google_translator
import pandas as pd

In [4]:
df_itm_cat = pd.read_csv('00-Input/item_categories.csv')
df_itm = pd.read_csv('00-Input/items.csv')
df_sh = pd.read_csv('00-Input/shops.csv')
df_tr = pd.read_csv('00-Input/sales_train.csv')
df_te = pd.read_csv('00-Input/test.csv')

In [ ]:
#translator_1 = google_translator()
#df_rus['English'] = df_rus['item_category_name'].apply(translator.translate, src='ru', dest='en').apply(getattr, args=('text',))

## Aim / Goal -> Forcast total amount of products sold for the next month/months

### STEP-1: EDA
- Top 5 records
- Data Types / Info
- Shape Of Data
- Missing Values
- NULL values
- Describe
- Correlation

### STEP-2: Combined data into one dataframe
- Check for duplicates
- Cleaning

### STEP-3: visualization
- Yearly sales
- Monthly sales
- Monthly items count
- Weekly sales

### STEP-4: Outliers
- Identifying
- Handling

### STEP-5: Machine learning
- Data preparation
- Identify Methods for future sales forcasting

In [5]:
df_itm_cat.head()

           item_category_name  item_category_id
0  PC - Headsets / Headphones                 0
1           Accessories - PS2                 1
2           Accessories - PS3                 2
3           Accessories - PS4                 3
4           Accessories - PSP                 4

In [6]:
df_itm.head()

,item_name,item_id,item_category_id
0,! POWER IN glamor (PLAST.) D,0,40
1,! ABBYY FineReader 12 Professional Edition Ful...,1,76
2,*** In the glory (UNV) D,2,40
3,*** BLUE WAVE (Univ) D,3,40
4,*** BOX (GLASS) D,4,40

In [7]:
df_sh.head()

                           shop_name  shop_id
0  ! Yakutsk Ordzhonikidze, 56 Franc        0
1       ! Yakutsk TC "Central" Franc        1
2                   Adygea TC "Mega"        2
3   Balashikha TRC "October-Kinomir"        3
4         Volzhsky mall "Volga Mall"        4

In [8]:
df_tr.head()

         date  date_block_num  shop_id  item_id  item_price  item_cnt_day
0  02.01.2013               0       59    22154      999.00           1.0
1  03.01.2013               0       25     2552      899.00           1.0
2  05.01.2013               0       25     2552      899.00          -1.0
3  06.01.2013               0       25     2554     1709.05           1.0
4  15.01.2013               0       25     2555     1099.00           1.0

In [9]:
df_te.head()

   ID  shop_id  item_id
0   0        5     5037
1   1        5     5320
2   2        5     5233
3   3        5     5232
4   4        5     5268

In [10]:
# EDA 

def EDA(df):
    print(" ")
    print("----------TOP 5 RECORDS--------")
    print(df.head(5))
    print(" ")
    print("----------Data Types-----------")
    print(df.dtypes)
    print(" ")
    print("----------INFO-----------------")
    print(df.info())
    print(" ")
    print("-----Data Shape-------------")
    print(df.shape)
    print(" ")
    print("-------Missing Values----------")
    print(df.isnull().sum())
    print(" ")
    print("-------NULL values-------------")
    print(df.isna().sum())

In [11]:

print("*************** Item Categories ***************")
EDA(df_itm_cat)

*************** Item Categories ***************

----------TOP 5 RECORDS--------
           item_category_name  item_category_id
0  PC - Headsets / Headphones                 0
1           Accessories - PS2                 1
2           Accessories - PS3                 2
3           Accessories - PS4                 3
4           Accessories - PSP                 4

----------Data Types-----------
item_category_name    object
item_category_id       int64
dtype: object

----------INFO-----------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84 entries, 0 to 83
Data columns (total 2 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   item_category_name  84 non-null     object
 1   item_category_id    84 non-null     int64
dtypes: int64(1), object(1)
memory usage: 1.4+ KB
None

-----Data Shape-------------
(84, 2)

-------Missing Values----------
item_category_name    0
item_category_id      0
dtype: int64

-------NULL values-------------
item_category_name    0
item_category_id      0
dtype: int64

In [12]:
df_itm_cat.describe()

       item_category_id
count         84.000000
mean          41.500000
std           24.392622
min            0.000000
25%           20.750000
50%           41.500000
75%           62.250000
max           83.000000

In [13]:
print("*************** Items ***************")
EDA(df_itm)

*************** Items ***************

----------TOP 5 RECORDS--------
                                           item_name  item_id  \
0                       ! POWER IN glamor (PLAST.) D        0
1  ! ABBYY FineReader 12 Professional Edition Ful...        1
2                           *** In the glory (UNV) D        2
3                             *** BLUE WAVE (Univ) D        3
4                                  *** BOX (GLASS) D        4

   item_category_id
0                40
1                76
2                40
3                40
4                40

----------Data Types-----------
item_name           object
item_id              int64
item_category_id     int64
dtype: object

----------INFO-----------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22170 entries, 0 to 22169
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   item_name         22170 non-null  object
 1   item_id           22170 non-null  int64
 2   item_category_id  22170 non-null  int64
dtypes: int64(2), object(1)
memory usage: 519.7+ KB
None

-----Data Shape-------------
(22170, 3)

-------Missing Values----------
item_name           0
item_id             0
item_category_id    0
dtype: int64

-------NULL values-------------
item_name           0
item_id             0
item_category_id    0
dtype: int64

In [14]:
print("*************** Shops ***************")
EDA(df_sh)

*************** Shops ***************

----------TOP 5 RECORDS--------
                           shop_name  shop_id
0  ! Yakutsk Ordzhonikidze, 56 Franc        0
1       ! Yakutsk TC "Central" Franc        1
2                   Adygea TC "Mega"        2
3   Balashikha TRC "October-Kinomir"        3
4         Volzhsky mall "Volga Mall"        4

----------Data Types-----------
shop_name    object
shop_id       int64
dtype: object

----------INFO-----------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   shop_name  60 non-null     object
 1   shop_id    60 non-null     int64
dtypes: int64(1), object(1)
memory usage: 1.1+ KB
None

-----Data Shape-------------
(60, 2)

-------Missing Values----------
shop_name    0
shop_id      0
dtype: int64

-------NULL values-------------
shop_name    0
shop_id      0
dtype: int64

In [15]:
print("*************** Training Sales Data ***************")
EDA(df_tr)

*************** Training Sales Data ***************

----------TOP 5 RECORDS--------
         date  date_block_num  shop_id  item_id  item_price  item_cnt_day
0  02.01.2013               0       59    22154      999.00           1.0
1  03.01.2013               0       25     2552      899.00           1.0
2  05.01.2013               0       25     2552      899.00          -1.0
3  06.01.2013               0       25     2554     1709.05           1.0
4  15.01.2013               0       25     2555     1099.00           1.0

----------Data Types-----------
date               object
date_block_num      int64
shop_id             int64
item_id             int64
item_price        float64
item_cnt_day      float64
dtype: object

----------INFO-----------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2935849 entries, 0 to 2935848
Data columns (total 6 columns):
 #   Column          Dtype
---  ------          -----
 0   date            object
 1   date_block_num  int64
 2   shop_id         int64
 3   item_id         int64
 4   item_price      float64
 5   item_cnt_day    float64
dtypes: float64(2), int64(3), object(1)
memory usage: 134.4+ MB
None

-----Data Shape-------------
(2935849, 6)

-------Missing Values----------
date              0
date_block_num    0
shop_id           0
item_id           0
item_price        0
item_cnt_day      0
dtype: int64

-------NULL values-------------
date              0
date_block_num    0
shop_id           0
item_id           0
item_price        0
item_cnt_day      0
dtype: int64

In [16]:
print("*************** Test data ***************")
EDA(df_te)

*************** Test data ***************

----------TOP 5 RECORDS--------
   ID  shop_id  item_id
0   0        5     5037
1   1        5     5320
2   2        5     5233
3   3        5     5232
4   4        5     5268

----------Data Types-----------
ID         int64
shop_id    int64
item_id    int64
dtype: object

----------INFO-----------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 214200 entries, 0 to 214199
Data columns (total 3 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   ID       214200 non-null  int64
 1   shop_id  214200 non-null  int64
 2   item_id  214200 non-null  int64
dtypes: int64(3)
memory usage: 4.9 MB
None

-----Data Shape-------------
(214200, 3)

-------Missing Values----------
ID         0
shop_id    0
item_id    0
dtype: int64

-------NULL values-------------
ID         0
shop_id    0
item_id    0
dtype: int64

In [17]:
df_itm_cat.head()

           item_category_name  item_category_id
0  PC - Headsets / Headphones                 0
1           Accessories - PS2                 1
2           Accessories - PS3                 2
3           Accessories - PS4                 3
4           Accessories - PSP                 4

In [18]:
df_tr.head()

         date  date_block_num  shop_id  item_id  item_price  item_cnt_day
0  02.01.2013               0       59    22154      999.00           1.0
1  03.01.2013               0       25     2552      899.00           1.0
2  05.01.2013               0       25     2552      899.00          -1.0
3  06.01.2013               0       25     2554     1709.05           1.0
4  15.01.2013               0       25     2555     1099.00           1.0

In [32]:
# Combining sales_train with item_categories
#df_itm_cat, df_itm, #df_sh, #df_tr
df_tr_itm = pd.merge(left=df_tr, right=df_itm, left_on='item_id', right_on='item_id')
df_tr_itm

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day,item_name,item_category_id
0,02.01.2013,0,59,22154,999.0,1.0,Scene 2012 (BD),37
1,23.01.2013,0,24,22154,999.0,1.0,Scene 2012 (BD),37
2,20.01.2013,0,27,22154,999.0,1.0,Scene 2012 (BD),37
3,02.01.2013,0,25,22154,999.0,1.0,Scene 2012 (BD),37
4,03.01.2013,0,25,22154,999.0,1.0,Scene 2012 (BD),37
...,...,...,...,...,...,...,...,...
2935844,17.10.2015,33,25,8428,249.0,1.0,ACh vaudeville Vaudeville (rem),40
2935845,01.10.2015,33,25,7903,12198.0,1.0,XBOX 360 S 250GB CONSOLE / KINECT BUNDLE KUNG ...,15
2935846,29.10.2015,33,25,7610,2890.0,1.0,WARHAMMER ACCESSORIES: Khorne Dice art. 65-13,64
2935847,22.10.2015,33,25,7635,2100.0,1.0,WARHAMMER MINIATURES: Dark Elf Doomfire Warloc...,64
2935848,01.10.2015,33,25,7640,4040.0,1.0,WARHAMMER MINIATURES: Stormcast Eternals Palad...,64

In [33]:
df_tr_itm_cat = pd.merge(left=df_tr_itm, right=df_itm_cat, left_on='item_category_id', right_on='item_category_id')
df_tr_itm_cat

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day,item_name,item_category_id,item_category_name
0,02.01.2013,0,59,22154,999.0,1.0,Scene 2012 (BD),37,Movie - Blu-Ray
1,23.01.2013,0,24,22154,999.0,1.0,Scene 2012 (BD),37,Movie - Blu-Ray
2,20.01.2013,0,27,22154,999.0,1.0,Scene 2012 (BD),37,Movie - Blu-Ray
3,02.01.2013,0,25,22154,999.0,1.0,Scene 2012 (BD),37,Movie - Blu-Ray
4,03.01.2013,0,25,22154,999.0,1.0,Scene 2012 (BD),37,Movie - Blu-Ray
...,...,...,...,...,...,...,...,...,...
2935844,22.10.2015,33,55,13093,250.0,1.0,Map Windows paying 250 rubles [Digital Version],36,Payment card - Windows (figure)
2935845,21.09.2015,32,55,13091,1000.0,1.0,Map Windows Payment: 1000 rubles [Digital Vers...,36,Payment card - Windows (figure)
2935846,16.09.2015,32,55,13094,2500.0,1.0,Map Windows Payment: 2500 rubles [Digital Vers...,36,Payment card - Windows (figure)
2935847,22.09.2015,32,55,13094,2500.0,2.0,Map Windows Payment: 2500 rubles [Digital Vers...,36,Payment card - Windows (figure)
2935848,26.10.2015,33,55,13092,2000.0,1.0,Map Windows Payment: 2000 rubles [Digital Vers...,36,Payment card - Windows (figure)

In [34]:
df_tr_data = pd.merge(left=df_tr_itm_cat, right=df_sh, left_on='shop_id', right_on='shop_id')
df_tr_data

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day,item_name,item_category_id,item_category_name,shop_name
0,02.01.2013,0,59,22154,999.0,1.0,Scene 2012 (BD),37,Movie - Blu-Ray,"Yaroslavl shopping center ""Altair"""
1,26.04.2013,3,59,944,150.0,1.0,2012 (BD),37,Movie - Blu-Ray,"Yaroslavl shopping center ""Altair"""
2,26.06.2013,5,59,944,199.5,1.0,2012 (BD),37,Movie - Blu-Ray,"Yaroslavl shopping center ""Altair"""
3,20.07.2013,6,59,944,199.5,1.0,2012 (BD),37,Movie - Blu-Ray,"Yaroslavl shopping center ""Altair"""
4,14.09.2013,8,59,944,299.0,2.0,2012 (BD),37,Movie - Blu-Ray,"Yaroslavl shopping center ""Altair"""
...,...,...,...,...,...,...,...,...,...,...
2935844,22.10.2015,33,55,13093,250.0,1.0,Map Windows paying 250 rubles [Digital Version],36,Payment card - Windows (figure),Digital storage 1C-line
2935845,21.09.2015,32,55,13091,1000.0,1.0,Map Windows Payment: 1000 rubles [Digital Vers...,36,Payment card - Windows (figure),Digital storage 1C-line
2935846,16.09.2015,32,55,13094,2500.0,1.0,Map Windows Payment: 2500 rubles [Digital Vers...,36,Payment card - Windows (figure),Digital storage 1C-line
2935847,22.09.2015,32,55,13094,2500.0,2.0,Map Windows Payment: 2500 rubles [Digital Vers...,36,Payment card - Windows (figure),Digital storage 1C-line
2935848,26.10.2015,33,55,13092,2000.0,1.0,Map Windows Payment: 2000 rubles [Digital Vers...,36,Payment card - Windows (figure),Digital storage 1C-line

In [37]:
# rearranging dataframe columns
df_tr_data = df_tr_data[['date', 'date_block_num', 'shop_id', 'shop_name', 'item_id', 'item_name', 'item_category_id', 'item_category_name', 'item_price', 'item_cnt_day']]
df_tr_data

,date,date_block_num,shop_id,shop_name,item_id,item_name,item_category_id,item_category_name,item_price,item_cnt_day
0,02.01.2013,0,59,"Yaroslavl shopping center ""Altair""",22154,Scene 2012 (BD),37,Movie - Blu-Ray,999.0,1.0
1,26.04.2013,3,59,"Yaroslavl shopping center ""Altair""",944,2012 (BD),37,Movie - Blu-Ray,150.0,1.0
2,26.06.2013,5,59,"Yaroslavl shopping center ""Altair""",944,2012 (BD),37,Movie - Blu-Ray,199.5,1.0
3,20.07.2013,6,59,"Yaroslavl shopping center ""Altair""",944,2012 (BD),37,Movie - Blu-Ray,199.5,1.0
4,14.09.2013,8,59,"Yaroslavl shopping center ""Altair""",944,2012 (BD),37,Movie - Blu-Ray,299.0,2.0
...,...,...,...,...,...,...,...,...,...,...
2935844,22.10.2015,33,55,Digital storage 1C-line,13093,Map Windows paying 250 rubles [Digital Version],36,Payment card - Windows (figure),250.0,1.0
2935845,21.09.2015,32,55,Digital storage 1C-line,13091,Map Windows Payment: 1000 rubles [Digital Vers...,36,Payment card - Windows (figure),1000.0,1.0
2935846,16.09.2015,32,55,Digital storage 1C-line,13094,Map Windows Payment: 2500 rubles [Digital Vers...,36,Payment card - Windows (figure),2500.0,1.0
2935847,22.09.2015,32,55,Digital storage 1C-line,13094,Map Windows Payment: 2500 rubles [Digital Vers...,36,Payment card - Windows (figure),2500.0,2.0
2935848,26.10.2015,33,55,Digital storage 1C-line,13092,Map Windows Payment: 2000 rubles [Digital Vers...,36,Payment card - Windows (figure),2000.0,1.0

In [35]:
# df_tr_data.isna().sum()
df_tr_data.isnull().sum()

date                  0
date_block_num        0
shop_id               0
item_id               0
item_price            0
item_cnt_day          0
item_name             0
item_category_id      0
item_category_name    0
shop_name             0
dtype: int64